*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  /* background-image: url("https://assets-global.website-files.com/61845f7929f5aa517ebab941/6440f9477c2a321f0dd6ab61_How%20Artificial%20Intelligence%20(AI)%20Is%20Used%20In%20Biometrics.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: whi; */
  /* color: white; */
  height: 100vh;
}
.App{

}
.inputBox{
  width: 50%;
  /* height: 30vh; */
  margin: auto;
  /* background-color: antiquewhite; */
display: flex;
justify-content: space-between;
margin: 30px auto 30px ;
}

.inputBox textarea{
  width: 80%;
  padding: 10px;
}
.inputBox button{
  padding: 10px 25px;
}
.image{
  /* margin-top: ; */
  width: 50%;
  /* height: 70vh; */
  /* height: 100%; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img{
  width: 80%;
  /* height: 100%; */
}
h1{
  text-align: center;
  margin-top: 30px;
}